.container {
    width: 1440px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.current-users {
    padding: 20px;
}

.new-card {
    width: 200px;
    padding: 10px;
    background-color: beige;
    margin-bottom: 10px;
}